<!DOCTYPE html>
<html>

<head>
    <title>Honeypot Data</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='honeypot.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='loadData.js') }}"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='honeypotCharts.js') }}"></script>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
</head>

<body>

    <h1 id="honeypot-title"></h1>


    <div style="text-align:center;">
        <button style="margin:0 10px;" onclick="location.href='home.html'">Home</button>
    </div>

    <p id="honeypot-ports">Ports: </p>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script>
        window.addEventListener('scroll', function () {
            const footer = document.querySelector('footer');
            const scrollBottom = window.innerHeight + window.scrollY >= document.body.offsetHeight;

            if (scrollBottom && !footer.classList.contains('visible')) {
                footer.classList.add('visible');
            }
        });
    </script>
</body>

<footer>
    <p>Data provided by the WWU Cyber Range T-Pot Team</p>
</footer>

</html>