<!DOCTYPE html>
<html>

<head>
    <title>Honeypot Data</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/honeypot.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='loadData.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script src="{{ url_for('static', filename='honeypotCharts.js') }}"></script>
    <script src="{{ url_for('static', filename='data/configureHoneypots.js') }}"></script>
</head>


<body>

    <h1>
        <span id="honeypot-title"></span><br>
        <span class="subtitle" , id="honeypot-summary"></span>
    </h1>



    <div style="text-align:center;">
        <button style="margin:0 10px;" onclick="location.href='home.html'">Home</button>


        <div class="dropdown" style="margin:0 20px;">
            <button onclick="toggleDropdown()" class="dropbtn">Choose a Honeypot</button>
            <div id="honeypotDropdown" class=" dropdown-content">
                <a href="honeypot.html" onclick="selectHoneypot('Ciscoasa')">Ciscoasa</a>
                <a href="honeypot.html" onclick="selectHoneypot('Dicompot')">Dicompot</a>
                <a href="honeypot.html" onclick="selectHoneypot('Honeyaml')">Honeyaml</a>
                <a href="honeypot.html" onclick="selectHoneypot('Medpot')">Medpot</a>
                <a href="honeypot.html" onclick="selectHoneypot('SentryPeer')">SentryPeer</a>
                <a href="honeypot.html" onclick="selectHoneypot('Abdhoney')">Abdhoney</a>
                <a href="honeypot.html" onclick="selectHoneypot('Conpot')">Conpot</a>
                <a href="honeypot.html" onclick="selectHoneypot('Cowrie')">Cowrie</a>
                <a href="honeypot.html" onclick="selectHoneypot('Dionaea')">Dionaea</a>
                <a href="honeypot.html" onclick="selectHoneypot('Elasticpot')">Elasticpot</a>
                <a href="honeypot.html" onclick="selectHoneypot('H0neytr4p')">H0neytr4p</a>
                <a href="honeypot.html" onclick="selectHoneypot('Heralding')">Heralding</a>
                <a href="honeypot.html" onclick="selectHoneypot('Ipphoney')">Ipphoney</a>
                <a href="honeypot.html" onclick="selectHoneypot('Mailoney')">Mailoney</a>
                <a href="honeypot.html" onclick="selectHoneypot('Miniprint')">Miniprint</a>
                <a href="honeypot.html" onclick="selectHoneypot('Redishoneypot')">Redishoneypot</a>
                <a href="honeypot.html" onclick="selectHoneypot('Wordpot')">Wordpot</a>
                <a href="honeypot.html" onclick="selecyHoneypot('Honeytrap')">Honeytrap</a>
            </div>
        </div>
    </div>

    <p id="honeypot-ports" , style="text-align: center;"></p>

    <div class="chart-container">
        <div class="box">
            <h2>
                <p id="honeypot-chart1-title"></p>
            </h2>
            <canvas id="honeypot-chart1"></canvas>
        </div>
        <div class="big-box">
            <h2>
                <p id="honeypot-chart2-title"></p>
            </h2>
            <canvas id="honeypot-chart2"></canvas>
        </div>
        <div class="big-box">
            <h2>
                <p id="honeypot-chart3-title"></p>
            </h2>
            <canvas id="honeypot-chart3"></canvas>
        </div>

    </div>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <script>
        window.addEventListener('scroll', function () {
            const footer = document.querySelector('footer');
            const scrollBottom = window.innerHeight + window.scrollY >= document.body.offsetHeight;

            if (scrollBottom && !footer.classList.contains('visible')) {
                footer.classList.add('visible');
            }
        });
    </script>
</body>

<footer>
    <p>Data provided by the WWU Cyber Range T-Pot Team</p>
</footer>

</html>