<!DOCTYPE html>
<html>

<head>
    <title>Honeypot Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h2>Visual 1</h2>
    <canvas id="Chart1" width="600" height="200"></canvas>

    <h2>Visual 2</h2>
    <canvas id="Chart2" width="100" height="50"></canvas>

    <h2>Visual 3</h2>
    <canvas id="Chart3" width="600" height="200"></canvas>

    <h2>Visual 4</h2>
    <canvas id="Chart4" width="600" height="200"></canvas>

    <script src="{{ url_for('static', filename='chart.js') }}"></script>
</body>

</html>