
/* html class styling */
body {  /* main "body" style */
    background-color: #8cf0e9;
    font-family: Arial, sans-serif;
    padding: 2px;
}

head {
    background-color: #04e52e;
    color: #ede8f6;
    padding: 10px;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

h1 {
    text-align: center;
    background-color: #dba4ef;
    padding: 10px;
}

.chart-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
}

.box {
    background-color: #ede8f6;
    text-align: center;
    width: 400px;
    padding: 2px;
    border: 1px solid #20002c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    margin: 2px;
}
